MQTT_HOST={{ p2k16.mqtt_host }}
MQTT_PORT={{ p2k16.mqtt_port }}
MQTT_USERNAME={{ p2k16.mqtt_username }}
MQTT_PASSWORD={{ bitraf_passwords.mqtt[p2k16.mqtt_username].password }}
MQTT_PREFIX={{ p2k16.mqtt_prefix }}
SQLALCHEMY_DATABASE_URI=postgresql://p2k16-web:{{ p2k16_secret.db_password_web }}@localhost/p2k16
SECRET_KEY={{ p2k16_secret.flask_secret_key }}
STRIPE_WEBHOOK_SECRET={{ p2k16_secret.stripe_webhook_secret }}
STRIPE_SECRET_KEY={{ p2k16_secret.stripe_secret_key }}
STRIPE_PUBLIC_KEY={{ p2k16_secret.stripe_public_key }}
